* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(to bottom, #128C7E 0%, #128C7E 20%, #dfe0d8 20%, #dfe0d8 100%);
    
}
/*LAYOYT*/
.menu-app {
    display:flex;
    flex-basis: auto;
    min-width: 80%;
    height:90%;
    justify-content: center;
    align-items: center;
}

/*MENU-LEFT*/
.menu-left {
    height: 100%;
    flex-basis: 35%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
/*header-menu-left*/
.top-menu-left {
    padding:10px;
    background-color:#ededed;
}
/*Contenuto top testo img e icone*/
.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testo-image {
    display: flex;
    justify-content:center;
    align-items: center;
}
.testo-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*LISTA ICONE AVATAR*/
.lista-icone  {
    display: flex;
} 
.lista-icone li  {
    list-style: none;
    padding: 8px;
}
.lista-icone li a {
    color:#bababa;
}
/*Notifica mex*/
.notifica-mex {
    display: flex;
    align-items: center;
    background-color: #a2dffe;
}
.campana-notifica {
    padding:10px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}
.campana-notifica i {
    color:#a2dffe;
}
.text-notifica p{
    font-size: 14px;
    color:#000000;
}
.text-notifica a {
    font-size: 14px;
    color:#77a3ba;
}
/*INPUT RICERCA*/
.container-ricerca {
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    color:#bec1c3;
    padding: 0 8px;
    background-color: #fbfbfb;
}
.icon-ricerca {
    flex-basis: 20%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
}
.icon-ricerca i {
    color:#bec1c3;
    cursor: pointer;
}
.content-ricerca {
    flex-basis:80%;
    background-color:white;
    border: 1px solid #f6f6f6;
    height: 30px;
}
.content-ricerca input {
    width: 100%;
    height:100%;
    border: none;
    padding-left: 10px;
}
.bottom-menu-left {
    flex-grow: 1;
}
/*MENU-RIGHT*/
.menu-right {
    height: 100%;
    flex-basis:65%;
    display: flex;
    flex-direction: column;
}
/*Content-header-right*/
.content-header-right {
    padding: 10px;
    background-color:#ededed;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.testo-image-right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testo-image-right {
    display: flex;
}
.testo-image-right .accesso p:last-child{
    color: #777e82;
    font-size: 12px;
}
/*LISTA ICONE AVATAR RIGHT*/
.lista-icone-right  {
    display: flex;
} 
.lista-icone-right li  {
    list-style: none;
    padding: 8px;
}
.lista-icone-right li a {
    color:#bababa;
}
/*content-main-menu*/
.content-main-right {
    flex-grow: 1;
    background-image:url(../img/mine.jpg);
}

/*fumetti*/
.contenitore-1 {
    display: flex;
    justify-content:flex-end;
    margin-right: 20px;
}
.container-fumetto-1 {
    width: 300px;
    height: 40px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 5px;
    background: #D5F9BA;
}
/*CHAT 1 MESSA IVIATO*/
.chat-1 {
    margin-top: 8px;
}
.chat-1 p {
    font-weight: bold;
    padding-left: 8px;
}
.accesso-chat-1 {
    display: flex;
    justify-content: flex-end;
}
.accesso-chat-1 p {
    font-size: 10px;
    padding-right: 8px;
    color: #B1B1B1;
}
/*fumetto 2*/
.contenitore-2 {
    display: flex;
    justify-content:flex-start;
    margin-left: 20px;
}
.container-fumetto-2 {
    width: 300px;
    height: 40px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 5px;
    background: #fff;
}
/*CHAT 2*/
.chat-2 {
    margin-top: 8px;
}
.chat-2 p {
    font-weight: bold;
    padding-left: 8px;
}
/*ACCESSO*/
.accesso-chat-2 {
    display: flex;
    justify-content: flex-end;
}
.accesso-chat-2 p {
    font-size: 10px;
    padding-right: 8px;
    color: #B1B1B1;
}
/*Content footer-right*/
.content-footer-right {
    padding: 5px;
    background-color:#f4f0ed;
    display: flex;
    align-items: center;
}
/*icona smile*/
.icona-smile {
    flex-basis: 10%;
}
.icona-smile i {
   color: #777e82;
   font-size: 25px;
}
/*input mex*/
.input-mex {
    flex-basis: 80%;
    background-color: white;
    border-radius: 10px;
}
.input-mex input {
    border: none;
    padding: 12px;
    border-radius: 10px;
}
/*Microphone*/
.icona-microphone {
    flex-basis: 10%;
    margin-left: 30px;
}

.icona-microphone i {
    color:#777e82;
    font-size: 25px;
}
