<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!--Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--Style-->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

   <!--Contenitore app-->
 <div id="app" class="menu-app">
           <!--MENU-LEFT-->
        <div class="menu-left">
            <!--to, avatar-container -->
          <section class="top-menu-left">
              
              <div class="content-top">
                 
                <div class="testo-image">
                   <!--image-->
                   <img src="./img/avatar_io.jpg" alt="Avatar personale">
                    <!--testo-->
                   <p>Nome Utente</p>
                </div>

                   <!--lista icone-->    
                  <ul class="lista-icone">
                      <li>
                         <a href="#">
                          <i class="fas fa-circle-notch"></i>
                        </a>
                     </li>
                      <li>
                       <a href="#">
                          <i class="fas fa-comment-alt"></i>
                       </a>
                     </li>
                     <li>
                       <a href="#">
                         <i class="fas fa-ellipsis-v"></i>
                       </a>
                    </li>
                 </ul>
              </div> <!--chiusura content-top-->
          </section> <!--chiusura top-menu-left-->
            <!--main-menu-left -->
          <section class="content-menu-left">
                 <!--Notifica dei messaggi-->
             <div class="notifica-mex">
                <!--Icona campana not-->
                <div class="campana-notifica">
                  <i class="fas fa-bell-slash"></i>
                </div>
               <!--Text della notifica-->
               <div class="text-notifica">
                  <p>Ricevi notiche di nuovi messaggi</p>
                  <p><a href="#">Attiva notifica desktop</a></p>
               </div>
             </div> <!--chiusura notifica-mex -->

               <!--INPUT ricerca-->
            <div class="container-ricerca">
                  <!--icona ricerca-->
                <div class="icon-ricerca">
                   <i class="fas fa-search"></i>
               </div>
            
               <!--Input ricerca-->
              <div class="content-ricerca">
                 <input type="text" placeholder="Cerca o inizia una nuova chat">
              </div>
            </div>  <!--chiusura ricerca-container-->

          </section> <!--chiusura content menu -left-->

            <!--footer-menu-left-->
          <section class="bottom-menu-left">
            <!--IMMAGINI DA PORTARE CON JS-->
             <!--:classe dinamica per poter mettere l'espressione direttamente nel html-->
             <div v-for="(lista, index ) in element" 
                 
                 class="container-avatar-nome"
                   
                 :class="{active: index === activeElement}"

                 @click="setActiveElemnte(index)"
                 >
                 
                 <!--avatar foto-->
                 <div class="lista-avatar">
                     <!--messo tramite ''-->
                     <img v-bind:src=" './img/avatar' + lista.avatar + '.jpg' " alt="">
                 </div>
                 <div class="lista-nome">
                      <h3>{{ lista.name }}</h3>
                 </div>
           </div> <!--chiusura del container-avatar-nome -->
                
          </section> <!--chiusura del bottom-menu-left-->
             
        </div> <!--chiusura menu-left-->

          <!--MENU-RIGHT-->
        <div class="menu-right">
              <!--avatar right--> 
              <!--Header-->
           <section class="content-header-right">
                <div class="testo-image-right">
                   <!--image   con : nel src `` per prendere l'img correlato al nome-->
                   <img  :src="`./img/avatar${element[activeElement].avatar}.jpg `"alt="Imagine 1">
                    <!--accesso-->
                    <div class="accesso">
                      <!--nome-->
                       <span> {{ element[activeElement].name }}<span>
                      <!--testo-->
                     <p>Utimo accesso oggi alle 10:35</p>
                    </div> <!--chiusura accesso-->
                </div> <!--chiusura testo-image-right-->
                 <!--lista icone-->    
                 <ul class="lista-icone-right">
                    <li>
                       <a href="#">
                          <i class="fas fa-circle-notch"></i>
                       </a>
                    </li>
                    <li>
                         <a href="#">
                          <i class="fas fa-paperclip"></i>
                        </a>
                    </li>
                    <li> 
                         <a href="#">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </li>
                </ul>
             
             </section> <!--chiusura della content-header-right-->

             <!--main-->
             <section class="content-main-right">
               <!--fumetti / conversazione-->

                 <div class="contenitore-1"
                     
                 >
                  
                    <div v-bind:class="{'container-fumetto-1': mex.status === 'received' , 'container-fumetto-2': mex.status === 'sent' }"
                         v-for="mex in element[activeElement].messages"
                         class="contenitore-1"
                   
                      >
                       <!--MESSAGGI INVIATI-->
                      <div class="messaggi">
                        <span class="mex-inviato">{{ mex.message }}</span>                        
                      </div>
                      
                      <div class="accesso-mex-inviato">
                         <span> {{ mex.date }}</span>
                      </div>
  
                      
                    </div> <!--chiusura fumetto 1-->
                 </div> <!--chiusura contenitore-1-->
              
                
             </section> <!--chiusura content main-right-->
             <!--footer-->
             <section class="content-footer-right">
                <!-- icona smile-->
                 <div class="icona-smile">
                    <i class="far fa-smile"></i>
                 </div>
                  <!--input scrivi un mex-->
                  <div class="input-mex">
                      <input type="text"
                             placeholder="Scrivi un messaggio"
                             v-model.trim="newText"
                             @keyup.enter="addText"
                             ref="textInput">
                             
                  </div>
                    
                   <!--icona mi-->
                    <div class="icona-microphone">
                       <i class="fas fa-microphone"></i>
                    </div>
             </section>

        </div> <!--chiusura del menu right--> 

  </div> <!--Chisura menu-app-->
    <!--Js-->
    <script src="./js/script.js"></script>
</body>
</html>